.flex-container {
    width: 330px;
    height: 200px;
     border: 2px solid blue;
     padding: 1em;
     display: flex;
 }
.flex-container.align-items-stretch{
    align-items: stretch;
}

.flex-container.align-items-flex-start{
    align-items: flex-start;
}

.flex-container.align-items-center{
    align-items: center;
}

.flex-container.align-items-flex-end{
    align-items: flex-end;
}

.flex-container.align-items-baseline{
    align-items: baseline;
}

 .flex-item {
     border: 2px solid black;
     background: #eee;
     padding: 1em;
 }